AvdanyuScraper.ClassLibrary/AvdanyuScraper.ClassLibrary/bin/
AvdanyuScraper.ClassLibrary/AvdanyuScraper.ClassLibrary/obj/
AvdanyuScraper.PlayListBuilder/bin/
AvdanyuScraper.PlayListBuilder/obj/
AvdanyuScraper/.vs/
AvdanyuScraper/bin/
AvdanyuScraper/obj/
.vs/
